.grid-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 400px;
  height: 400px;
  justify-content: space-between;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.square {
  height: 100px;
  width: 100px;
  background-color: red;
  margin: 10px;
}
